<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>inheritScope</title>
</head>

<body>
    <div ng-app="myApp" ng-controller="languageController">
        <div ng-repeat="language in languages" ng-controller="helloController">
            {{language.name}}
            <input type="text" ng-model="username">
            <!-- ngChange -->
            <!-- <input type="text" ng-model="username" ng-change="update(username)"> -->
            <div>
                {{greet(language, username)}}
            </div>
        </div>
    </div>
</body>
<script src="../../lib/angular.min.js"></script>

<script src="../js/languageController.js"></script>
<script src="../js/helloController.js"></script>
<script>
    angular.module('myApp', [])
        .controller('languageController', languageController)
        .controller('helloController', helloController)
</script>

</html>