<div class="modal" tabindex="-1" role='dialog'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!-- 在单击时调用$modal.$hide -->
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title">Create New Watchlist</h4>
            </div>
            <!-- 命名该表单用于验证过程 -->
            <form action="" role="form" id="add-list" name="listForm">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="list-name">Name</label>
                        <!-- 将输入绑定到watchlist.name -->
                        <input type="text" class="form-control" id="list-name" placeholder="Name the watchlist" ng-model="watchlist.name" required>
                    </div>
                    <div class="form-group">
                        <label for="list-description">Brief Description</label>
                        <!-- 将输入绑定到watchlist.description -->
                        <input type="text" class="form-control" id="list-description" placeholder="description the list" maxlength="40" ng-model="watchlist.description" required>
                    </div>  
                </div>
                <div class="modal-footer">
                    <!-- 在单击时创建列表，如果列表时无效的，它将处于禁用状态 -->
                    <button type="submit"
                        class="btn btn-success"
                        ng-click="createList()"
                        ng-disabled="!listForm.$valid">Create</button>
                    <button type="button"
                        class="btn btn-cancel"
                        ng-click="$hide()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>